docs/.attachments/29920959.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://jabil.com/ngMES/RMA/Import"
           xmlns:rma="http://jabil.com/ngMES/RMA/Import"
           elementFormDefault="qualified">
  <xs:element name="rmaRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="customerRef" minOccurs="0" maxOccurs="1" type="xs:string"/>
        <xs:element name="requestType" minOccurs="1" maxOccurs="1" type="rma:RequestType"/>
        <xs:element name="customerName" minOccurs="1" maxOccurs="1" type="xs:string"/>
        <xs:element name="divisionName" minOccurs="1" maxOccurs="1" type="xs:string"/>
        <xs:element name="siteName" minOccurs="1" maxOccurs="1" type="xs:string"/>
        <xs:element name="customerContact" minOccurs="1" maxOccurs="1" type="rma:ContactType"/>
        <xs:element name="customerAddress" minOccurs="0" maxOccurs="1" type="rma:AddressType"/>
        <xs:element name="jabilContact" minOccurs="1" maxOccurs="1" type="rma:ContactType"/>
        <xs:element name="jabilAddress" minOccurs="0" maxOccurs="1" type="rma:AddressType"/>
        <xs:element name="comment" minOccurs="0" maxOccurs="1" type="xs:string"/>

        <xs:element name="assemblyGroup" minOccurs="0" maxOccurs="unbounded" type="rma:RequestAssemblyGroupType"/>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="rmaRequestItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="assemblyGroup" minOccurs="1" maxOccurs="unbounded" type="rma:RequestAssemblyGroupType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="RequestAssemblyGroupType">
    <xs:sequence>
      <xs:element name="assembly" minOccurs="1" maxOccurs="1" type="xs:string"/>
      <xs:element name="assemblyRevision" minOccurs="0" maxOccurs="1" type="xs:string"/>
      <xs:element name="upgradeAssembly" minOccurs="0" maxOccurs="1" type="xs:string"/>
      <xs:element name="upgradeAssemblyRevision" minOccurs="0" maxOccurs="1" type="xs:string"/>
      <xs:element name="responsibility" minOccurs="0" maxOccurs="1" type="rma:ResponsibilityType"/>
      <xs:element name="customerProductName" minOccurs="0" maxOccurs="1" type="xs:string"/>
      <xs:element name="customerDefect" minOccurs="0" maxOccurs="1" type="xs:string"/>
      <xs:element name="inWarranty" minOccurs="0" maxOccurs="1" type="xs:boolean"/>

      <xs:element name="failure" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="failureCategory" type="xs:string"/>
          <xs:attribute name="failureSymptom" type="xs:string"/>
        </xs:complexType>
      </xs:element>

      <xs:element name="requestItem" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="serialNumber" minOccurs="1" maxOccurs="1" type="xs:string"/>
            <xs:element name="comment" minOccurs="0" maxOccurs="1" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RequestItemType">
    <xs:sequence>
      <xs:element name="serialNumber" minOccurs="1" maxOccurs="1" type="xs:string"/>

      <xs:element name="assembly" minOccurs="1" maxOccurs="1" type="xs:string"/>
      <xs:element name="assemblyRevision" minOccurs="0" maxOccurs="1" type="xs:string"/>
      <xs:element name="upgradeAssembly" minOccurs="0" maxOccurs="1" type="xs:string"/>
      <xs:element name="upgradeAssemblyRevision" minOccurs="0" maxOccurs="1" type="xs:string"/>
      <xs:element name="responsibility" minOccurs="0" maxOccurs="1" type="rma:ResponsibilityType"/>
      <xs:element name="customerProductName" minOccurs="0" maxOccurs="1" type="xs:string"/>
      <xs:element name="customerDefect" minOccurs="0" maxOccurs="1" type="xs:string"/>
      <xs:element name="inWarranty" minOccurs="0" maxOccurs="1" type="xs:boolean"/>

      <xs:element name="failure" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="failureCategory" type="xs:string"/>
          <xs:attribute name="failureSymptom" type="xs:string"/>
        </xs:complexType>
      </xs:element>

      <xs:element name="comment" minOccurs="0" maxOccurs="1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ContactType">
    <xs:sequence>
      <xs:element name="contactName" minOccurs="1" maxOccurs="1" type="xs:string"/>
      <xs:element name="contactEmail" minOccurs="1" maxOccurs="1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="addressLine1" minOccurs="1" maxOccurs="1" type="xs:string"/>
      <xs:element name="addressCity" minOccurs="1" maxOccurs="1" type="xs:string"/>
      <xs:element name="addressPostalCode" minOccurs="1" maxOccurs="1" type="xs:string"/>
      <xs:element name="addressCountryCode" minOccurs="1" maxOccurs="1" type="rma:CountryCodeType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="RequestType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RETURN"/>
      <xs:enumeration value="REWORK"/>
      <xs:enumeration value="UPGRADE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ResponsibilityType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNKNOWN"/>
      <xs:enumeration value="JABIL"/>
      <xs:enumeration value="CUSTOMER"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CountryCodeType">
    <xs:restriction base="xs:string">
      <!-- AFGHANISTAN -->
      <xs:enumeration value="AF"/>
      <!-- ALBANIA -->
      <xs:enumeration value="AL"/>
      <!-- ALGERIA -->
      <xs:enumeration value="DZ"/>
      <!-- AMERICAN SAMOA -->
      <xs:enumeration value="AS"/>
      <!-- ANDORRA -->
      <xs:enumeration value="AD"/>
      <!-- ANGOLA -->
      <xs:enumeration value="AO"/>
      <!-- ANGUILLA -->
      <xs:enumeration value="AI"/>
      <!-- ANTARCTICA -->
      <xs:enumeration value="AQ"/>
      <!-- ANTIGUA AND BARBUDA -->
      <xs:enumeration value="AG"/>
      <!-- ARGENTINA -->
      <xs:enumeration value="AR"/>
      <!-- ARMENIA -->
      <xs:enumeration value="AM"/>
      <!-- ARUBA -->
      <xs:enumeration value="AW"/>
      <!-- AUSTRALIA -->
      <xs:enumeration value="AU"/>
      <!-- AUSTRIA -->
      <xs:enumeration value="AT"/>
      <!-- AZERBAIJAN -->
      <xs:enumeration value="AZ"/>
      <!-- BAHAMAS -->
      <xs:enumeration value="BS"/>
      <!-- BAHRAIN -->
      <xs:enumeration value="BH"/>
      <!-- BANGLADESH -->
      <xs:enumeration value="BD"/>
      <!-- BARBADOS -->
      <xs:enumeration value="BB"/>
      <!-- BELARUS -->
      <xs:enumeration value="BY"/>
      <!-- BELGIUM -->
      <xs:enumeration value="BE"/>
      <!-- BELIZE -->
      <xs:enumeration value="BZ"/>
      <!-- BENIN -->
      <xs:enumeration value="BJ"/>
      <!-- BERMUDA -->
      <xs:enumeration value="BM"/>
      <!-- BHUTAN -->
      <xs:enumeration value="BT"/>
      <!-- BOLIVIA -->
      <xs:enumeration value="BO"/>
      <!-- BOSNIA AND HERZEGOWINA -->
      <xs:enumeration value="BA"/>
      <!-- BOTSWANA -->
      <xs:enumeration value="BW"/>
      <!-- BOUVET ISLAND -->
      <xs:enumeration value="BV"/>
      <!-- BRAZIL -->
      <xs:enumeration value="BR"/>
      <!-- BRITISH INDIAN OCEAN TERRITORY -->
      <xs:enumeration value="IO"/>
      <!-- BRUNEI DARUSSALAM -->
      <xs:enumeration value="BN"/>
      <!-- BULGARIA -->
      <xs:enumeration value="BG"/>
      <!-- BURKINA FASO -->
      <xs:enumeration value="BF"/>
      <!-- BURUNDI -->
      <xs:enumeration value="BI"/>
      <!-- CAMBODIA -->
      <xs:enumeration value="KH"/>
      <!-- CAMEROON -->
      <xs:enumeration value="CM"/>
      <!-- CANADA -->
      <xs:enumeration value="CA"/>
      <!-- CAPE VERDE -->
      <xs:enumeration value="CV"/>
      <!-- CAYMAN ISLANDS -->
      <xs:enumeration value="KY"/>
      <!-- CENTRAL AFRICAN REPUBLIC -->
      <xs:enumeration value="CF"/>
      <!-- CHAD -->
      <xs:enumeration value="TD"/>
      <!-- CHILE -->
      <xs:enumeration value="CL"/>
      <!-- CHINA -->
      <xs:enumeration value="CN"/>
      <!-- CHRISTMAS ISLAND -->
      <xs:enumeration value="CX"/>
      <!-- COCOS (KEELING) ISLANDS -->
      <xs:enumeration value="CC"/>
      <!-- COLOMBIA -->
      <xs:enumeration value="CO"/>
      <!-- COMOROS -->
      <xs:enumeration value="KM"/>
      <!-- CONGO -->
      <xs:enumeration value="CG"/>
      <!-- CONGO, THE DEMOCRATIC REPUBLIC OF THE -->
      <xs:enumeration value="CD"/>
      <!-- COOK ISLANDS -->
      <xs:enumeration value="CK"/>
      <!-- COSTA RICA -->
      <xs:enumeration value="CR"/>
      <!-- COTE D''IVOIRE -->
      <xs:enumeration value="CI"/>
      <!-- CROATIA -->
      <xs:enumeration value="HR"/>
      <!-- CUBA -->
      <xs:enumeration value="CU"/>
      <!-- CYPRUS -->
      <xs:enumeration value="CY"/>
      <!-- CZECH REPUBLIC -->
      <xs:enumeration value="CZ"/>
      <!-- DENMARK -->
      <xs:enumeration value="DK"/>
      <!-- DJIBOUTI -->
      <xs:enumeration value="DJ"/>
      <!-- DOMINICA -->
      <xs:enumeration value="DM"/>
      <!-- DOMINICAN REPUBLIC -->
      <xs:enumeration value="DO"/>
      <!-- EAST TIMOR -->
      <xs:enumeration value="TP"/>
      <!-- ECUADOR -->
      <xs:enumeration value="EC"/>
      <!-- EGYPT -->
      <xs:enumeration value="EG"/>
      <!-- EL SALVADOR -->
      <xs:enumeration value="SV"/>
      <!-- EQUATORIAL GUINEA -->
      <xs:enumeration value="GQ"/>
      <!-- ERITREA -->
      <xs:enumeration value="ER"/>
      <!-- ESTONIA -->
      <xs:enumeration value="EE"/>
      <!-- ETHIOPIA -->
      <xs:enumeration value="ET"/>
      <!-- FALKLAND ISLANDS (MALVINAS) -->
      <xs:enumeration value="FK"/>
      <!-- FAROE ISLANDS -->
      <xs:enumeration value="FO"/>
      <!-- FIJI -->
      <xs:enumeration value="FJ"/>
      <!-- FINLAND -->
      <xs:enumeration value="FI"/>
      <!-- FRANCE -->
      <xs:enumeration value="FR"/>
      <!-- FRENCH GUIANA -->
      <xs:enumeration value="GF"/>
      <!-- FRENCH POLYNESIA -->
      <xs:enumeration value="PF"/>
      <!-- FRENCH SOUTHERN TERRITORIES -->
      <xs:enumeration value="TF"/>
      <!-- GABON -->
      <xs:enumeration value="GA"/>
      <!-- GAMBIA -->
      <xs:enumeration value="GM"/>
      <!-- GEORGIA -->
      <xs:enumeration value="GE"/>
      <!-- GERMANY -->
      <xs:enumeration value="DE"/>
      <!-- GHANA -->
      <xs:enumeration value="GH"/>
      <!-- GIBRALTAR -->
      <xs:enumeration value="GI"/>
      <!-- GREECE -->
      <xs:enumeration value="GR"/>
      <!-- GREENLAND -->
      <xs:enumeration value="GL"/>
      <!-- GRENADA -->
      <xs:enumeration value="GD"/>
      <!-- GUADELOUPE -->
      <xs:enumeration value="GP"/>
      <!-- GUAM -->
      <xs:enumeration value="GU"/>
      <!-- GUATEMALA -->
      <xs:enumeration value="GT"/>
      <!-- GUINEA -->
      <xs:enumeration value="GN"/>
      <!-- GUINEA-BISSAU -->
      <xs:enumeration value="GW"/>
      <!-- GUYANA -->
      <xs:enumeration value="GY"/>
      <!-- HAITI -->
      <xs:enumeration value="HT"/>
      <!-- HEARD ISLAND AND MCDONALD ISLANDS -->
      <xs:enumeration value="HM"/>
      <!-- HOLY SEE (VATICAN CITY STATE) -->
      <xs:enumeration value="VA"/>
      <!-- HONDURAS -->
      <xs:enumeration value="HN"/>
      <!-- HONG KONG -->
      <xs:enumeration value="HK"/>
      <!-- HUNGARY -->
      <xs:enumeration value="HU"/>
      <!-- ICELAND -->
      <xs:enumeration value="IS"/>
      <!-- INDIA -->
      <xs:enumeration value="IN"/>
      <!-- INDONESIA -->
      <xs:enumeration value="ID"/>
      <!-- IRAN, ISLAMIC REPUBLIC OF -->
      <xs:enumeration value="IR"/>
      <!-- IRAQ -->
      <xs:enumeration value="IQ"/>
      <!-- IRELAND -->
      <xs:enumeration value="IE"/>
      <!-- ISRAEL -->
      <xs:enumeration value="IL"/>
      <!-- ITALY -->
      <xs:enumeration value="IT"/>
      <!-- JAMAICA -->
      <xs:enumeration value="JM"/>
      <!-- JAPAN -->
      <xs:enumeration value="JP"/>
      <!-- JORDAN -->
      <xs:enumeration value="JO"/>
      <!-- KAZAKSTAN -->
      <xs:enumeration value="KZ"/>
      <!-- KENYA -->
      <xs:enumeration value="KE"/>
      <!-- KIRIBATI -->
      <xs:enumeration value="KI"/>
      <!-- KOREA, DEMOCRATIC PEOPLE'S REPUBLIC OF -->
      <xs:enumeration value="KP"/>
      <!-- KOREA, REPUBLIC OF -->
      <xs:enumeration value="KR"/>
      <!-- KUWAIT -->
      <xs:enumeration value="KW"/>
      <!-- KYRGYZSTAN -->
      <xs:enumeration value="KG"/>
      <!-- LAO PEOPLE'S DEMOCRATIC REPUBLIC -->
      <xs:enumeration value="LA"/>
      <!-- LATVIA -->
      <xs:enumeration value="LV"/>
      <!-- LEBANON -->
      <xs:enumeration value="LB"/>
      <!-- LESOTHO -->
      <xs:enumeration value="LS"/>
      <!-- LIBERIA -->
      <xs:enumeration value="LR"/>
      <!-- LIBYAN ARAB JAMAHIRIYA -->
      <xs:enumeration value="LY"/>
      <!-- LIECHTENSTEIN -->
      <xs:enumeration value="LI"/>
      <!-- LITHUANIA -->
      <xs:enumeration value="LT"/>
      <!-- LUXEMBOURG -->
      <xs:enumeration value="LU"/>
      <!-- MACAU -->
      <xs:enumeration value="MO"/>
      <!-- MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF -->
      <xs:enumeration value="MK"/>
      <!-- MADAGASCAR -->
      <xs:enumeration value="MG"/>
      <!-- MALAWI -->
      <xs:enumeration value="MW"/>
      <!-- MALAYSIA -->
      <xs:enumeration value="MY"/>
      <!-- MALDIVES -->
      <xs:enumeration value="MV"/>
      <!-- MALI -->
      <xs:enumeration value="ML"/>
      <!-- MALTA -->
      <xs:enumeration value="MT"/>
      <!-- MARSHALL ISLANDS -->
      <xs:enumeration value="MH"/>
      <!-- MARTINIQUE -->
      <xs:enumeration value="MQ"/>
      <!-- MAURITANIA -->
      <xs:enumeration value="MR"/>
      <!-- MAURITIUS -->
      <xs:enumeration value="MU"/>
      <!-- MAYOTTE -->
      <xs:enumeration value="YT"/>
      <!-- MEXICO -->
      <xs:enumeration value="MX"/>
      <!-- MICRONESIA, FEDERATED STATES OF -->
      <xs:enumeration value="FM"/>
      <!-- MOLDOVA, REPUBLIC OF -->
      <xs:enumeration value="MD"/>
      <!-- MONACO -->
      <xs:enumeration value="MC"/>
      <!-- MONGOLIA -->
      <xs:enumeration value="MN"/>
      <!-- MONTSERRAT -->
      <xs:enumeration value="MS"/>
      <!-- MOROCCO -->
      <xs:enumeration value="MA"/>
      <!-- MOZAMBIQUE -->
      <xs:enumeration value="MZ"/>
      <!-- MYANMAR -->
      <xs:enumeration value="MM"/>
      <!-- NAMIBIA -->
      <xs:enumeration value="NA"/>
      <!-- NAURU -->
      <xs:enumeration value="NR"/>
      <!-- NEPAL -->
      <xs:enumeration value="NP"/>
      <!-- NETHERLANDS -->
      <xs:enumeration value="NL"/>
      <!-- NETHERLANDS ANTILLES -->
      <xs:enumeration value="AN"/>
      <!-- NEW CALEDONIA -->
      <xs:enumeration value="NC"/>
      <!-- NEW ZEALAND -->
      <xs:enumeration value="NZ"/>
      <!-- NICARAGUA -->
      <xs:enumeration value="NI"/>
      <!-- NIGER -->
      <xs:enumeration value="NE"/>
      <!-- NIGERIA -->
      <xs:enumeration value="NG"/>
      <!-- NIUE -->
      <xs:enumeration value="NU"/>
      <!-- NORFOLK ISLAND -->
      <xs:enumeration value="NF"/>
      <!-- NORTHERN MARIANA ISLANDS -->
      <xs:enumeration value="MP"/>
      <!-- NORWAY -->
      <xs:enumeration value="NO"/>
      <!-- OMAN -->
      <xs:enumeration value="OM"/>
      <!-- PAKISTAN -->
      <xs:enumeration value="PK"/>
      <!-- PALAU -->
      <xs:enumeration value="PW"/>
      <!-- PALESTINIAN TERRITORY, OCCUPIED -->
      <xs:enumeration value="PS"/>
      <!-- PANAMA -->
      <xs:enumeration value="PA"/>
      <!-- PAPUA NEW GUINEA -->
      <xs:enumeration value="PG"/>
      <!-- PARAGUAY -->
      <xs:enumeration value="PY"/>
      <!-- PERU -->
      <xs:enumeration value="PE"/>
      <!-- PHILIPPINES -->
      <xs:enumeration value="PH"/>
      <!-- PITCAIRN -->
      <xs:enumeration value="PN"/>
      <!-- POLAND -->
      <xs:enumeration value="PL"/>
      <!-- PORTUGAL -->
      <xs:enumeration value="PT"/>
      <!-- PUERTO RICO -->
      <xs:enumeration value="PR"/>
      <!-- QATAR -->
      <xs:enumeration value="QA"/>
      <!-- REUNION -->
      <xs:enumeration value="RE"/>
      <!-- ROMANIA -->
      <xs:enumeration value="RO"/>
      <!-- RUSSIAN FEDERATION -->
      <xs:enumeration value="RU"/>
      <!-- RWANDA -->
      <xs:enumeration value="RW"/>
      <!-- SAINT HELENA -->
      <xs:enumeration value="SH"/>
      <!-- SAINT KITTS AND NEVIS -->
      <xs:enumeration value="KN"/>
      <!-- SAINT LUCIA -->
      <xs:enumeration value="LC"/>
      <!-- SAINT PIERRE AND MIQUELON -->
      <xs:enumeration value="PM"/>
      <!-- SAINT VINCENT AND THE GRENADINES -->
      <xs:enumeration value="VC"/>
      <!-- SAMOA -->
      <xs:enumeration value="WS"/>
      <!-- SAN MARINO -->
      <xs:enumeration value="SM"/>
      <!-- SAO TOME AND PRINCIPE -->
      <xs:enumeration value="ST"/>
      <!-- SAUDI ARABIA -->
      <xs:enumeration value="SA"/>
      <!-- SENEGAL -->
      <xs:enumeration value="SN"/>
      <!-- SEYCHELLES -->
      <xs:enumeration value="SC"/>
      <!-- SIERRA LEONE -->
      <xs:enumeration value="SL"/>
      <!-- SINGAPORE -->
      <xs:enumeration value="SG"/>
      <!-- SLOVAKIA -->
      <xs:enumeration value="SK"/>
      <!-- SLOVENIA -->
      <xs:enumeration value="SI"/>
      <!-- SOLOMON ISLANDS -->
      <xs:enumeration value="SB"/>
      <!-- SOMALIA -->
      <xs:enumeration value="SO"/>
      <!-- SOUTH AFRICA -->
      <xs:enumeration value="ZA"/>
      <!-- SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS -->
      <xs:enumeration value="GS"/>
      <!-- SPAIN -->
      <xs:enumeration value="ES"/>
      <!-- SRI LANKA -->
      <xs:enumeration value="LK"/>
      <!-- SUDAN -->
      <xs:enumeration value="SD"/>
      <!-- SURINAME -->
      <xs:enumeration value="SR"/>
      <!-- SVALBARD AND JAN MAYEN -->
      <xs:enumeration value="SJ"/>
      <!-- SWAZILAND -->
      <xs:enumeration value="SZ"/>
      <!-- SWEDEN -->
      <xs:enumeration value="SE"/>
      <!-- SWITZERLAND -->
      <xs:enumeration value="CH"/>
      <!-- SYRIAN ARAB REPUBLIC -->
      <xs:enumeration value="SY"/>
      <!-- TAIWAN, PROVINCE OF CHINA -->
      <xs:enumeration value="TW"/>
      <!-- TAJIKISTAN -->
      <xs:enumeration value="TJ"/>
      <!-- TANZANIA, UNITED REPUBLIC OF -->
      <xs:enumeration value="TZ"/>
      <!-- THAILAND -->
      <xs:enumeration value="TH"/>
      <!-- TOGO -->
      <xs:enumeration value="TG"/>
      <!-- TOKELAU -->
      <xs:enumeration value="TK"/>
      <!-- TONGA -->
      <xs:enumeration value="TO"/>
      <!-- TRINIDAD AND TOBAGO -->
      <xs:enumeration value="TT"/>
      <!-- TUNISIA -->
      <xs:enumeration value="TN"/>
      <!-- TURKEY -->
      <xs:enumeration value="TR"/>
      <!-- TURKMENISTAN -->
      <xs:enumeration value="TM"/>
      <!-- TURKS AND CAICOS ISLANDS -->
      <xs:enumeration value="TC"/>
      <!-- TUVALU -->
      <xs:enumeration value="TV"/>
      <!-- UGANDA -->
      <xs:enumeration value="UG"/>
      <!-- UKRAINE -->
      <xs:enumeration value="UA"/>
      <!-- UNITED ARAB EMIRATES -->
      <xs:enumeration value="AE"/>
      <!-- UNITED KINGDOM -->
      <xs:enumeration value="GB"/>
      <!-- UNITED STATES -->
      <xs:enumeration value="US"/>
      <!-- UNITED STATES MINOR OUTLYING ISLANDS -->
      <xs:enumeration value="UM"/>
      <!-- URUGUAY -->
      <xs:enumeration value="UY"/>
      <!-- UZBEKISTAN -->
      <xs:enumeration value="UZ"/>
      <!-- VANUATU -->
      <xs:enumeration value="VU"/>
      <!-- VENEZUELA -->
      <xs:enumeration value="VE"/>
      <!-- VIET NAM -->
      <xs:enumeration value="VN"/>
      <!-- VIRGIN ISLANDS, BRITISH -->
      <xs:enumeration value="VG"/>
      <!-- VIRGIN ISLANDS, U.S. -->
      <xs:enumeration value="VI"/>
      <!-- WALLIS AND FUTUNA -->
      <xs:enumeration value="WF"/>
      <!-- WESTERN SAHARA -->
      <xs:enumeration value="EH"/>
      <!-- YEMEN -->
      <xs:enumeration value="YE"/>
      <!-- YUGOSLAVIA -->
      <xs:enumeration value="YU"/>
      <!-- ZAMBIA -->
      <xs:enumeration value="ZM"/>
      <!-- ZIMBABWE -->
      <xs:enumeration value="ZW"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>